version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: weekly
    groups:
      uv-minor-patch:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
